#chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;

}

#chat-menu-button {
  background-color: var(--secondary-bg-color);
}

#chat-model-info {
  padding: 0.25rem;
  box-shadow: 1px 1px 2px #ddd inset;

  .chat-model-name {
    // @extend %font-weight-bolder;
  }
}
