.icon {
  margin-right: 0.25rem;
}

i[class^='icon-'] {
  color: var(--icon-color);
  font-size: 0.75rem;
  vertical-align: middle;
  filter: grayscale(100%); // Make icons grayscale
}

.user-icon {
  margin: 0rem 0.75rem 0 0;
  width: 2.5rem; /* Adjust the size as needed */
  height: 2.5rem; /* Should be equal to the width for a perfect circle */
  border-radius: 50%; /* This makes the shape a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.system-icon {
  border: 1px solid var(--gray);
  @extend %font-weight-bolder;
}

.you-icon {
  color: var(--bg-color);
  background-color: var(--blue);
  @extend %font-weight-bolder;
}

.icon-export::before {
  content: "\1F5E8 \2B07";  /* Speech Bubble and Downward Arrow */
}

.icon-flag::before {  /* Triangular Flag on Post */
  content: "\2757";
}

.icon-bad::before {
  content: "\1F44E";
}

.icon-good::before {
  content: "\1F44D";
}

.icon-close::before {
  content: '\00D7';
}

.icon-download::before {
  content: '\1F4BE';
}

.icon-copy::before {
  content: '\1F4CB';
}

.icon-selected::before {
  content: '\203A';
}

.icon-edit::before {
  content: '\1F58B';
}

.icon-new::before {
  content: '\002B';
  font-size: 0.875rem;
}

.icon-search::before {
  content: '\1F50D'; /* Unicode character for 🔍 */
}

.icon-clear::before {
  content: '\1F5D1'; /* Unicode for wastebasket */
}

.icon-settings::before {
  content: '\1F6E0'; /* Unicode for wrench */
}

.icon-refresh::before {
  content: '\21BB';
}

.icon-send::before {
  content: '\1F4E9';
}

.icon-delete-alt::before {
  content: '\274C';
}

.icon-delete::before {
  content: '\2716';
}

.icon-abort::before {
  content: '\00D7';
  color: var(--red);
}

.icon-save::before {
  content: '\1F4BE'; /* Unicode for floppy */
}

.icon-menu::before {
  content: '\22EF'; /* Unicode character for three dots */
}

.icon-user::before {
  content: '\1F464'; /* Unicode for 👤 */
}

.icon-robot::before {
  content: '\1F916'; /* Unicode for 🤖 */
}

.icon-speech::before {
  content: '\1F4AC';
}

.icon-speech2::before {
  content: '\1F5E8'; /* Unicode for 🗨️ */
}

.icon-scroll-to-top::before {
  content: '\21A5';
}

.icon-scroll-to-end::before {
  content: '\21A7';
}

// Light theme
:root {
  .icon rect {
    fill: var(--text-color);
    stroke: var(--bg-color);
  }

  .icon-settings rect {
    stroke: var(--text-color);
    fill: var(--bg-color);
  }
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    .icon rect, .icon line {
      fill: var(--text-color);
      stroke: var(--bg-color);
    }
  }
}
